* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: black;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
}

.container section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.container section .content {
  max-width: 800px;
  padding: 40px;
  text-align: center;
}

.container section .content h2 {
  font-size: 4rem;
  margin-bottom: 0.1em;
}

.container section .content p {
  font-size: 1.3rem;
  line-height: 1.4em;
}

a {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: white;
}
a:active {
  color: white;
}

.linkedin {
  margin-bottom: 0.5em;
}

span::before {
  content: "Ideas";
  animation: animate infinite 6s;
  letter-spacing: 0.075em;
  font-weight: 600;
  display: block;
}

@keyframes animate {
  0% {
    opacity: 1;
    content: "Ideas";
  }

  12% {
    opacity: 0;
  }

  32% {
    opacity: 1;
    content: "Design";
  }

  44% {
    opacity: 0;
  }

  64% {
    opacity: 1;
    content: "Build";
  }

  78% {
    opacity: 0;
  }
}

@media (max-width: 991px) {
  .container {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: auto;
    transform: none !important;
  }
}
